<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   </head>
   <body>
      <center>
      <div class="container">
         <table  class="table table-responsive table-sm">
      <!--<form action = "{{ url_for('addrec') }}" method = "POST">-->
            <form action = "addrec" method = "POST">
               <h3>Student Information</h3>

               <div class="form-group row">
                  <label for="InputName" class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-6">
                     <input type="text" name = "nm" class="form-control" id="InputName" placeholder="complete name">
                  </div>
               </div>

               <div class="form-group row">
                  <label for="InputAdd" class="col-sm-2 col-form-label">Address</label>
                  <div class="col-sm-10">
                     <!--<input type="textarea" name = "add" class="form-control" id="InputAdd" placeholder="address">-->
                     <textarea name = "add" class="form-control" id="InputAdd" rows="3"></textarea>
                  </div>
               </div>

               <div class="form-group row">
                  <label for="InputCity" class="col-sm-2 col-form-label">City</label>
                  <div class="col-sm-10">
                     <input type="text" name = "city" class="form-control" id="InputCity" placeholder="city">
                  </div>
               </div>

               <div class="form-group row">
                  <label for="InputZC" class="col-sm-2 col-form-label">Zip Code</label>
                  <div class="col-sm-10">
                     <input type="text" name = "pin" class="form-control" id="InputZC" placeholder="zc">
                  </div>
               </div>
<!--
         Name<br>
         <input type = "text" name = "nm" /></br>
        
         Address<br>
         <textarea name = "add" ></textarea><br>
         
         City<br>
         <input type = "text" name = "city" /><br>
         
         PINCODE<br>
         <input type = "text" name = "pin" /><br><br>
--> 
         <input type = "submit" value = "submit" /><br>
      </form>
      </table>
      {% include 'buttons.html' %}
      </div>
   </center>   
   </body>
</html>